input{
    outline: none;
}


.first{
    background-image:url(../img/bg_first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.first_screen{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}



.first_logo{
    margin-top: 110px;
    width: 175px;
    height: 60px;
}

.first_title { 
    margin-top: 33px;
    max-width: 512px;
    font-family: "Raleway";
    font-size: 35px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.first_line {
    display: block;
    margin: 36px 0;
    max-width: 64px;
    height: 2px;
    background-color:#ffffff;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

.first_line:hover {
    transform: scaleX(7.8);
}

.first_subtitle {
    display: block;
    margin: 30 auto;
    opacity: 0.8;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}


.first_btn{
    margin-top: 33px;
    margin-bottom: 139px;
    align-items: center;
    opacity: 0.8;
    transition: 0.5s ease;
    border-radius: 5px;
}


.first_download {
    text-decoration: none;
    display: inline-block;
    color:#ffffff;
    background: none;
    padding: 15px 32px; 
    text-decoration: none; 
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.first_download:hover {
    color: black;
    background-color: #ffc744;
    transition: 0.5s ease;
}


.form{
    margin-top: 140px;
    display: block;
}

.form_list {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
}

.form_items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    
}

.form_items_title{
    padding: 18px 0 15px 0;
    background-color:#f5f5f5;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 29px;
}

.form_title{
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
}

.free{
    padding:0 5px 0 5px;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #ff8b38;
}


.form_text .form_list input{
    outline: none;
    max-width: 285px;
    border: none;
    border-bottom:solid 1px #BEBEBE;
    opacity: 0.8;
    line-height: 2;
    margin-bottom: 30px;
}

.form_items_foter{
    padding: 21px 0 20px 0;
    background-color: #ff8b38;
    text-align: center;
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.start{
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
}


.start:hover{
    color:black;
    transition-duration: 0.5s;
}

@media screen and (max-width:970px) {
    .first_screen{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modern{
        text-align: center;
    }
    .first_line:hover {
        transform: scaleX(7.9);
    }

    .form{
        margin-top: 0;
    }
    .first_btn{
        margin-bottom: 70px;
    }
}

@media screen and (max-width:770px) {
    .form_items{
        text-align: center;
        display: block;
        width: 100%;   
    }
    .form_items_title{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form_items_foter{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width:530px) {
    .first_line{
        display: none;
    }
    .first_subtitle{
        margin-top: 33px;
    }
}
