header{
    width: 100%;
    
}

.axit{
    background-color: black; 
    width: 100%;
    position: fixed;
    z-index: 9999;
}


.logo{
    width: 79px;
    height: 27px;
    margin:23px 0;
}

@media screen and (max-width:530px) {
    .logo{
      display:block;
      text-align: center;
      margin: 15px 0;
    }
    .menu_item{
        padding-left: 10px;
    }
}
